/* 
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

*{
    font-family: "Roboto", sans-serif;
    font-weight: 650;
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 4px;
}



.home ul li{
    list-style: none;
    width: 20px;
    display: flex;
    gap: 7px;
    padding-top: 15px;
}

.invert{
    filter: invert(1);
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
}

.logo img{
    width: 20px;
}

.logo{
    display: flex;
    gap: 7px;
}

.library{
    min-height: 72vh;
}

.header{
    gap: 7px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34,34,34);
    padding: 9px;
    /* margin: 7px; */
}

.right{
    width: 75vw;
    margin-top: 9px;
    margin-right: 9px;
    margin-bottom: 9px;
    position: relative;
}

.spotifyPlaylists{
    padding: 9px;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.card{
    /* border: 2px solid greenyellow; */
    width: 180px;
    padding: 10px;
    background-color: rgb(34,34,34);
    border-radius: 12px;
    position: relative;
}

.card p{
    font-weight: 300;
    font-size: smaller;
}

.card > h4,.card > p{
    padding-top: 4px;
}

.play{
    position: absolute;
    bottom: 64px;
    right: 21px;
    opacity: 0;
    transition: all 1s ease-out;
}

.playBar{
    position: absolute;
    bottom: 0;
    background-color: aqua;
    width: 100%;
    padding: 12px;
    
}

.songButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

/* .signUp{
    sign up for this code please
}

.logIn{
    Log in please for this sign up please
} */

