/* 
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

*{
    font-family: "Roboto", sans-serif;
    font-weight: 650;
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    padding: 4px;
}

.right{
    width: 75vw;
}

.home ul li{
    list-style: none;
    width: 20px;
    display: flex;
    gap: 7px;
    padding-top: 15px;
}

.invert{
    filter: invert(1);
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: #121212;
}

.logo img{
    width: 20px;
}

.logo{
    display: flex;
    gap: 7px;
}

.library{
    min-height: 72vh;
}

.header{
    gap: 7px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(34,34,34);
    padding: 9px;
    /* margin: 7px; */
}

.right{
    margin-top: 9px;
    margin-right: 9px;
    margin-bottom: 9px;
}

.spotifyPlaylists{
    padding: 9px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.card{
    border: 2px solid greenyellow;
    width: 180px;
    padding: 10px;
    background-color: cadetblue;
}

